# Dependencies
node_modules/

# Build
dist/

# Environment
.env
.env.local

# Prisma
generated/

# IDE
.idea/
.vscode/*
!.vscode/extensions.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store

# Logs
*.log
npm-debug.log*

# OS
Thumbs.db

